#Disallow everything
<filesmatch "\.+">
    Order Allow,Deny
    Deny from all
</filesmatch>

DirectoryIndex index.php
IndexIgnore *  # do not list files / folders if index.php is missing

#Allow peripheral files  AND .php !!!!!!    all private php files must end in .inc
<FilesMatch "\.(css|png|jpg|js|ico|html|htm|exe|zip|7z|tar|gz|mp3|gif|tif|php|xpi)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
